@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbar {
    background-color: #519BE1;
}

.title-header {
    font-family: "Permanent Marker", system-ui;
    font-weight: 400;
}

.nav-dropdown-item, .nav-dropdown-item:active, .nav-dropdown-item:focus {
    background-color: transparent !important;
    color: inherit;
  }
  